<nav>
  <ul>
    <li class="title">flowers!</li>
    <div>
      <li><a href="#">Home</a></li>
      <li><a href="https://github.com/colorlessenergy">Github</a></li>
      <li><a href="http://colorlessenergy.github.io/">Wesbite</a></li>
    </div>
  </ul>
</nav>
<section class="main-info">
  <div>
    <h2>Flowers are awesome</h2>
    <p>flowers are the best thing to happen to the world.</p>
    <p>there are many different types of flowers</p>
    <p>most flowers smell good</p>
  </div>
  <img src="img/rose-header.jpg" alt="">
</section>
